.navbar-brand {
	float: left;
	height: 36px;
	padding: 8px 8px;
	font-size: 18px;
	line-height: 20px;
}
.navbar {
	position: relative;
	min-height: 36px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	box-shadow: 0px 4px 11px rgba(0,0,0,0.2);
}
.nav > li > a {
	position: relative;
	display: block;
	padding: 8px 8px;
}
/*-----------------------------------------------------------------------------*/
.breadcrumb {
	/*display: none;*/
	padding: 2px 9px;
	margin-bottom: 0;
	margin-top: -10px;
	list-style: none;
	background-color: #f5f5f5;
	border-radius: 4px;
	box-shadow: 0px 1px 4px rgba(0,0,0,0.2) inset;
}
