html {
	background: url(../img/bg0.png);
}
html,
body {
    height: 100%;
}
body {
	background-image: url(../img/bg6.png);
	background-color: rgba(255,255,255,0.8);
	/*background-color: transparent;*/
}
.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -30px;
    padding: 0 0 30px;
}

.wrap > .container {
    padding: 0px 15px 20px;
}

.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
    height: 23px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
    /*padding-top: 5px;*/
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/*-------------------------------------------------*/
h1.view_title {
	color: #2A537B;
	text-align: center;
	/* background: #E4E4E4; */
	border-radius: 0px;
	padding: 6px;
	margin-top: 0px;
	text-shadow: 1px 1px 0px #8C8C8C;
	border-bottom: 3px solid #369;
	font-size: 26px;
	box-shadow: 0px -3px 1px -2px #BBBBBB inset;
}